/* side bar */
#sidebar {
    position: fixed;
    float: left;
}

#sidebar * {
    display: block;
    margin: auto;
}

/* graph */
svg {
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#end-arrow {
    fill: #666;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

circle {
    fill: #ccc;
    stroke-width: 1.5px;
    /*cursor: pointer;*/
}

text {
    fill: #000;
    font: 12px sans-serif;
    
    text-anchor: middle;
    font-weight: bold;
    /*pointer-events: none;*/
}
