
/*
.slider-selection {
	background: #BABABA;
}
*/


/* side bar */
#sidebar {
    position: fixed;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#sidebar * {
    text-align: right;
}

#sidebar b {
    margin-right: 10px;
}

#sidebar button {
    margin-top: 2px;
    margin-bottom: 2px;
}


/* graph */
svg {
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#end-arrow {
    fill: #666;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

circle {
    fill: #ccc;
    stroke-width: 1.5px;
    /*cursor: pointer;*/
}

text {
    fill: #000;
    font: 12px sans-serif;
    
    text-anchor: middle;
    font-weight: bold;
    /*pointer-events: none;*/
}


/* */
.selected {
    fill: #ff7400,
}
